*{
    margin: 0;
    height: 0;
}

/*
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

#graphContainer{
    /*margin-top: calc(50% - 250px);*/
    margin-top: 4vh;
    width: 100vw;
}
