*{
    margin: 0;
    height: 0;
}

h1{
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graphContainer{
    /*margin-top: calc(50% - 250px);*/

    background-image: url('../img/graph.svg');
    background-size: 100vw 500px;
    background-position: bottom left;
    background-repeat: no-repeat;

    margin-top: 5vh;
    width: 100vw;
    /*max-width: 550px;*/
    height: auto;
}

#graph{
    opacity: 0.9;
    max-width: 550px;
}

#tableNavContainer{
    margin-top: 100px;
}
#tableContainer{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
#navContainer{
    display: flex;
    justify-content: space-evenly;
}
#navContainer a{
    text-decoration: none;
}

@media screen and (min-width: 550px){
    #graphContainer{
        background-size: 550px 500px;
        width: 550px;
    }
}